.container {
  display: grid;
  grid-template-columns: 0.75fr 2fr;
  gap: 31px 24px;
}

@media screen and (max-width: 1023px) {
  .container {
    grid-template-columns: 0.66fr 1fr;
  }
}

@media screen and (max-width: 676px) {
  .container {
    grid-template-columns: 1fr;
  }

  .container form {
    order: -1;
  }
}