.footer {
  margin: 3em 0 2em;
  font-size: 0.75em;
  text-align: center;
}

.footer>span {
  margin-bottom: 0.5em;
  display: block;
}

.contacts {
  padding: 0;
  margin: 0;
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 0.5em 1em;
}