.project {
  display: block;
  margin-bottom: 24px;
  width: 100%;
}

.imagewrap {
  width: 100%;
  position: relative !important;
  margin-bottom: 6px;
}

.imagewrap img {
  object-fit: contain;
  width: 100% !important;
  position: relative !important;
  height: unset !important;
}