.control {
  max-width: 800px;
  font-size: 32px;
  line-height: 46px;
  margin: 0 auto;
}

.text {
  display: inline-block;
}

.checkbox {
  margin-bottom: 6px;
}


@media screen and (min-width: 667px) {
  .checkbox {
    justify-content: center;
  }
}