.checkbox {
  font-size: inherit;
  height: 1.055555em;
  display: flex;
  align-items: center;
  gap: 0.333333em;
  user-select: none;
}

.inputwrap {
  position: relative;
  display: flex;
}

.input {
  font-size: inherit;
  box-sizing: border-box;
  height: 1.055555em;
  width: 1.055555em;
  margin: 0;
  border: 2px solid #89a8b8;
  border-radius: 0.222222em;
  -webkit-appearance: none;
  appearance: none;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: .22s;
  transition-duration: .22s;
}

.checkmark {
  display: none;
  position: absolute;
  height: 1.166666em;
  width: 0.833333em;
  left: 0.277777em;
  bottom: 0.222222em;
}

.input:checked+.checkmark {
  display: inline-block;
}

.text {
  margin-top: -0.111111em;
}

@media (hover: hover) {
  .checkbox:hover {
    cursor: pointer;
  }

  .checkbox:hover .input {
    cursor: pointer;
    border-color: hsl(200, 25%, 78%);
    -webkit-transition: none;
    transition: none;
  }
}