.wrap {
  display: flex;
  align-items: baseline;
  gap: 0.333333em;
}

.wrap>span:first-child {
  font-weight: bold;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  -moz-appearance: textfield;
  appearance: textfield;
  font-family: 'YsabeauOffice';
  font-size: inherit;
  text-align: right;
  border: 0.088889em solid #89a8b8;
  border-radius: 6px;
  padding: 0.333333em 0.5em 0.444444em;
  width: 7ch;
  -webkit-transition-property: border-color;
  transition-property: border-color;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: .22s;
  transition-duration: .22s;
}

@media (hover: hover) {
  .input:hover {
    border-color: hsl(200, 25%, 78%);
    -webkit-transition: none;
    transition: none;
  }
}