.perspective {
  transition: transform 0.1s, box-shadow 0.2s;
  backface-visibility: hidden;
  z-index: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 2px 6px, rgba(0, 0, 0, 0.23) 0px 2px 6px;
}

.rounded {
  border-radius: .67em;
}

.image {
  image-rendering: smooth;
}
