.wrap {
  display: flex;
  align-items: baseline;
  gap: 0.333333em;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  -moz-appearance: textfield;
  appearance: textfield;
  font-family: 'YsabeauOffice';
  font-size: inherit;
  text-align: right;
  border: 2px solid #89a8b8;
  border-radius: 6px;
  padding: 0.333333em 0.5em 0.444444em;
  width: 7ch;
}
