.wrap {
  position: relative;
  min-width: 17px;
}

.select::-ms-expand {
  display: none;
}

.select {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  position: absolute;
}

.select option {
  font-size: 0.6em;
  font-family: Verdana;
  font-weight: normal;
  font-style: normal;
  color: #000000;
}

.select option:disabled {
  color: #b4b4b4;
  background-color: #dadada;
}

.select+span {
  position: relative;
  z-index: -1;
  opacity: 0;
  font-style: italic;
}

.select {
  font-size: 32px;
  line-height: 46px;
  font-style: italic;
  font-family: 'YsabeauOffice';
  color: hsl(201, 75%, 30%);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: .22s;
  transition-duration: .22s;
}

@media (hover: hover) {
  .select:hover {
    color: hsla(201, 75%, 30%, 0.75);
    -webkit-transition: none;
    transition: none;
  }
}