.wrap {
  position: relative;
  min-width: 17px;
}

.input::-webkit-outer-spin-button,
.input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.input {
  -moz-appearance: textfield;
  appearance: textfield;
  position: absolute;
  border: none;
  background: none;
  padding: 0 4px;
  left: -4px;
  width: 100%;
}

.input+span {
  position: relative;
  z-index: -1;
  opacity: 0;
  font-style: italic;
}

.input {
  font-size: 32px;
  line-height: 46px;
  font-style: italic;
  font-family: 'YsabeauOffice';
  color: var(--link-color);
  -webkit-transition-property: color;
  transition-property: color;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
  -webkit-transition-duration: .22s;
  transition-duration: .22s;
}

.input:focus {
  color: var(--text-color);
}

@media (hover: hover) {
  .input:hover {
    color: var(--link-input-hover-color);
    -webkit-transition: none;
    transition: none;
  }
  .input:focus:hover {
    color: var(--text-color);
  }
}